
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutArtist.cshtml";
}

<h2>Welcome Amateur Artist</h2>

<h4>You Have No Submissions  at this time</h4>
<div>
    <img src="~/Content/Images/artistbackground.jpg" class="center-block img-responsive" />

</div>