@{
    ViewBag.Title = "Home Page";
}
@section header {
    @Scripts.Render("~/bundles/amazingslider")
}
<!-- Insert to your webpage before the </head> -->

<div class="jumbotron">
    <h1>My Commercial AD</h1>
    <p class="lead">Welcome to the My Commercial AD website .</p>
</div>

<div class="row">
    <!-- Insert to your webpage where you want to display the slider -->
    @*<div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1200px;margin:0px auto 48px;">
            <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
                <ul class="amazingslider-slides" style="display:none;">
                    <li>
                        <a href="https://www.youtube.com/embed/GX4RWeLQ7gk?v=GX4RWeLQ7gk" class="html5lightbox"><img src="~/Content/simages/GX4RWeLQ7gk.jpg" alt="Amateur O&apos;Reilly Commercial made" title="Amateur O&apos;Reilly Commercial made" data-texteffect="Bottom bar" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/embed/38EZZQ0GckA?v=38EZZQ0GckA" class="html5lightbox"><img src="~/Content/simages/38EZZQ0GckA.jpg" alt="Amateur Stage Commercial" title="Amateur Stage Commercial" data-texteffect="Bottom bar" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/embed/MYqlO4iFDZ4?v=MYqlO4iFDZ4" class="html5lightbox"><img src="~/Content/simages/MYqlO4iFDZ4.jpg" alt="Amateur Aon Commercial" title="Amateur Aon Commercial" data-texteffect="Bottom bar" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/embed/k--9dr-xvlI?v=k--9dr-xvlI" class="html5lightbox"><img src="~/Content/simages/k--9dr-xvlI.jpg" alt="Amateur Chicken Commercial" title="Amateur Chicken Commercial" data-texteffect="Bottom bar" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/embed/oWgqFIXcfDs?v=oWgqFIXcfDs" class="html5lightbox"><img src="~/Content/simages/oWgqFIXcfDs.jpg" alt="Hailey’s amateur smoking commercial" title="Hailey’s amateur smoking commercial" data-texteffect="Bottom bar" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/embed/Z_Z-6niB74E?v=Z_Z-6niB74E" class="html5lightbox"><img src="~/Content/simages/Z_Z-6niB74E.jpg" alt="Amateur Ponds Commercial" title="Amateur Ponds Commercial" data-texteffect="Bottom bar" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/embed/maOQzf0wiWw?v=maOQzf0wiWw" class="html5lightbox"><img src="~/Content/simages/maOQzf0wiWw.jpg" alt="Amateur Safeguard Commercial" title="Amateur Safeguard Commercial" data-texteffect="Bottom bar" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/embed/UEe8T2H5TPM?v=UEe8T2H5TPM" class="html5lightbox"><img src="~~/Content/simages/UEe8T2H5TPM.jpg" alt="GLOBAL WARMING AMATEUR COMMERCIAL" title="GLOBAL WARMING AMATEUR COMMERCIAL" data-texteffect="Bottom bar" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/embed/sVaUJTF8tPI?v=sVaUJTF8tPI" class="html5lightbox"><img src="~/Content/simages/sVaUJTF8tPI.jpg" alt="Funniest Amateur Wannabe Super Bowl Commercial" title="Funniest Amateur Wannabe Super Bowl Commercial" data-texteffect="Bottom bar" /></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/embed/yp9Bz3_xBaM?v=yp9Bz3_xBaM" class="html5lightbox"><img src="~/Content/simages/yp9Bz3_xBaM.jpg" alt="Amateur Jeep Patriot 2012 Commercial" title="Amateur Jeep Patriot 2012 Commercial" data-texteffect="Bottom bar" /></a>
                    </li>
                </ul>
            </div>
        </div>*@
    <!-- End of body section HTML codes -->
    @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>

<!-- Insert to your webpage where you want to display the slider -->
<div class="amazingslider-wrapper" id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1200px;margin:0px auto 48px;">
    <div class="amazingslider" id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
        <ul class="amazingslider-slides" style="display:none;">
            <li>
                <a href="https://www.youtube.com/embed/GX4RWeLQ7gk?v=GX4RWeLQ7gk" class="html5lightbox"><img src="~/Content/simages/GX4RWeLQ7gk.jpg" alt="Amateur O&apos;Reilly Commercial made" title="Amateur O&apos;Reilly Commercial made" data-texteffect="Bottom bar" /></a>
            </li>
            <li>
                <a href="https://www.youtube.com/embed/38EZZQ0GckA?v=38EZZQ0GckA" class="html5lightbox"><img src="~/Content/simages/38EZZQ0GckA.jpg" alt="Amateur Stage Commercial" title="Amateur Stage Commercial" data-texteffect="Bottom bar" /></a>
            </li>
            <li>
                <a href="https://www.youtube.com/embed/MYqlO4iFDZ4?v=MYqlO4iFDZ4" class="html5lightbox"><img src="~/Content/simages/MYqlO4iFDZ4.jpg" alt="Amateur Aon Commercial" title="Amateur Aon Commercial" data-texteffect="Bottom bar" /></a>
            </li>
            <li>
                <a href="https://www.youtube.com/embed/k--9dr-xvlI?v=k--9dr-xvlI" class="html5lightbox"><img src="~/Content/simages/k--9dr-xvlI.jpg" alt="Amateur Chicken Commercial" title="Amateur Chicken Commercial" data-texteffect="Bottom bar" /></a>
            </li>
            <li>
                <a href="https://www.youtube.com/embed/oWgqFIXcfDs?v=oWgqFIXcfDs" class="html5lightbox"><img src="~/Content/simages/oWgqFIXcfDs.jpg" alt="Hailey’s amateur smoking commercial" title="Hailey’s amateur smoking commercial" data-texteffect="Bottom bar" /></a>
            </li>
            <li>
                <a href="https://www.youtube.com/embed/Z_Z-6niB74E?v=Z_Z-6niB74E" class="html5lightbox"><img src="~/Content/simages/Z_Z-6niB74E.jpg" alt="Amateur Ponds Commercial" title="Amateur Ponds Commercial" data-texteffect="Bottom bar" /></a>
            </li>
            <li>
                <a href="https://www.youtube.com/embed/maOQzf0wiWw?v=maOQzf0wiWw" class="html5lightbox"><img src="~/Content/simages/maOQzf0wiWw.jpg" alt="Amateur Safeguard Commercial" title="Amateur Safeguard Commercial" data-texteffect="Bottom bar" /></a>
            </li>
            <li>
                <a href="https://www.youtube.com/embed/UEe8T2H5TPM?v=UEe8T2H5TPM" class="html5lightbox"><img src="~/Content/simages/UEe8T2H5TPM.jpg" alt="GLOBAL WARMING AMATEUR COMMERCIAL" title="GLOBAL WARMING AMATEUR COMMERCIAL" data-texteffect="Bottom bar" /></a>
            </li>
            <li>
                <a href="https://www.youtube.com/embed/sVaUJTF8tPI?v=sVaUJTF8tPI" class="html5lightbox"><img src="~/Content/simages/sVaUJTF8tPI.jpg" alt="Funniest Amateur Wannabe Super Bowl Commercial" title="Funniest Amateur Wannabe Super Bowl Commercial" data-texteffect="Bottom bar" /></a>
            </li>
            <li>
                <a href="https://www.youtube.com/embed/yp9Bz3_xBaM?v=yp9Bz3_xBaM" class="html5lightbox"><img src="~/Content/simages/yp9Bz3_xBaM.jpg" alt="Amateur Jeep Patriot 2012 Commercial" title="Amateur Jeep Patriot 2012 Commercial" data-texteffect="Bottom bar" /></a>
            </li>
        </ul>
    </div>
</div>
<!-- End of body section HTML codes -->
